:root {
  /* colores globales */
  --fondo-seccion: #B9A2C7;
  --fondo-subsec: #F2EBE5;
  --fondo-sec-vid: #DCE3D1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F2EBE5;
}
header, main, footer{
  background-color: #B9A2C7;
  margin: 10px;
  /* height: 150px; */
  border-radius: 10px;
  padding: 10px;
}
/* Los <h3> están reservados exclusivamente para los títulos en la sección <main>.
*/
h3 {
  font-size: 0.8em;
  text-align: center;
}
p {
  font-size: 0.65em;
  text-align: justify;
  margin: 5px;
}

header img {
  border-radius: 50%;
}

div a img {
  border-radius: 50%;
  width: 50px;
}

.contenedor img {
  border-radius: 50%;
}

.contenedor, .contenedor-video {
  padding: 10px;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  
  align-items: center;
  gap: 20px;
}

.contenedor {
  background-color: var(--fondo-subsec);
}

.contenedor-video {
  display: flex;
  background-color: var(--fondo-sec-vid);
  width: 75%;
  align-content: center;
}

.destacado {
  font-weight: bold;
}

.icono {
  align-content: center;
}

.leyenda {
  font-size: 0.4em;
}